<% provide(:title,"List of Organisations") %>
<h1 align="middle">Organistions</h1>
<header class="navbar" id="org_name" align="middle">
      <div class="container-fluid" align="middle" >
        <nav align="middle">
        <ul class="nav navbar-nav" align="middle">
        <li><a href="#" >Nibble Computer Society</a></li>
        <li><a href="#" >Google Developers Group</a></li>
        <li><a href="#" >Microsoft Mobile Innovation Lab</a></li>
        </ul>
</nav>
</div>
</header>
