@import "bootstrap";
body {
	background: url("edit.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  padding-top: 60px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
input {
  height: auto !important;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
  cursor:pointer;
}

.navbar-inner {
  text-align:center;
}
#list_events{

}