<header class="navbar navbar-fixed-top navbar-fixed-right ">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Contact Us",   contactus_path %></li>
            <li><%= link_to "List Of Organisations", organisations_path %></li>
          </ul>
        </nav>
      </div>
    </header>